body {
  padding-top: 50px; /* To ensure the navbar doesn't overlap content */
}

p {font-size: 18px; !improtant}

.navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bottom shadow */
}


.hero-section {
  background-image: url('/images/ayushmonk-home.webp'); /* Replace with your actual image path */
  background-size: cover;
  background-position: center;
  color: white;
  padding: 150px 0;
  text-align: center;
}
.call-to-action {
  background-color: #ffc107;
  color: white;
  padding: 40px 0;
}
.footer {
  background-color: #343a40;
  color: white;
  padding: 40px 0;
}

.btn:hover {
background-color: #2243ff;
color: white;
}

.card {
transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.card:hover {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
background-color: #f0f8ff; /* Change background color on hover */
border-radius: 20px; /* Add rounded corners on hover */
}


/* Product page */

body {
  padding-top: 70px;
}
.hero-section-page {
  background-color: #f5f5f5;
  padding: 60px 0;
  color: white;
  text-align: center;
  background-image: url('/images/ayushmonk-home.webp'); /* Replace with your actual image path */
}
.product-card {
  margin-bottom: 30px;
  transition: transform 0.3s, background-color 0.3s;
}
.product-card:hover {
  transform: scale(1.05);
  background-color: #f8f9fa;
  border-radius: 8px;
}
.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  text-align: center;
}

#products a {
  text-decoration: none;
}


/* blog post */

.blog-post {
  margin-bottom: 30px;
  border: 1px solid #eee;
}

#blog-posts a {
  text-decoration: none;
}

.blog-post img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.blog-post .content {
  padding: 10px;
}

.blog-post:hover {
  transform: scale(1.02);
  background-color: #f8f9fa;
  border-radius: 4px;
}

.blog-post-body{
  background-color: #FFF;
  padding: 20px;
  border: 1px solid #EEE;
  border-radius: 15px;
  background-color: #f9fafe;
  box-shadow: 0 0 1px 0 rgba(18, 32, 73, 0.08),
    0 8px 32px 0 rgba(55, 92, 192, 0.08);
  /* min-height: 480px !important; */
  min-height: 460px !important;
}

.blog-wraper {
  min-height: calc(100vh - 80px);
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(/images/page-bg.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}