body {
  padding-top: 70px;
}

p {font-size: 18px; !improtant}

.navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bottom shadow */
}

a { text-decoration: none;}

/* Popup styling */
#installPopup {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 8px;
  text-align: center;
}

#installPopup button {
  background-color: #43cea2;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

#installPopup button:hover {
  background-color: #185a9d;
}

/* Close button styling */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
}



.hero-section {
  background-image: url('/images/ayushmonk-home.webp'); /* Replace with your actual image path */
  background-size: cover;
  background-position: center;
  color: white;
  padding: 150px 0;
  text-align: center;
}
.call-to-action {
  background-color: #ffc107;
  color: white;
  padding: 40px 0;
}
.footer {
  background-color: #343a40;
  color: white;
  padding: 40px 0;
}

.btn:hover {
background-color: #2243ff;
color: white;
}

.card {
transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.card:hover {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
background-color: #f0f8ff; /* Change background color on hover */
border-radius: 20px; /* Add rounded corners on hover */
}


/* Product page */


.hero-section-page {
  background-color: #f5f5f5;
  padding: 60px 0;
  color: white;
  text-align: center;
  background-image: url('/images/ayushmonk-home.webp'); /* Replace with your actual image path */
}
.product-card {
  margin-bottom: 30px;
  transition: transform 0.3s, background-color 0.3s;
}
.product-card:hover {
  transform: scale(1.05);
  background-color: #f8f9fa;
  border-radius: 8px;
}
.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  text-align: center;
}

#products a {
  text-decoration: none;
}


.product-image {
  max-width: 100%;
  height: auto;
}
.buy-now-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
  /* background-color: #ffc547; */
  background: linear-gradient(109.6deg, rgb(255, 194, 48) 11.2%, rgb(255, 124, 0) 100.2%);
  border-radius: 8px;
}
.similar-product-card img {
  transition: transform .3s;
}
.similar-product-card img:hover {
  transform: scale(1.05);
}



/* blog post */

.blog-post {
  margin-bottom: 30px;
  border: 1px solid #eee;
}

#blog-posts a {
  text-decoration: none;
}

.blog-post img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.blog-post .content {
  padding: 10px;
}

.blog-post:hover {
  transform: scale(1.02);
  background-color: #f8f9fa;
  border-radius: 4px;
}

.blog-post-body{
  background-color: #FFF;
  padding: 20px;
  border: 1px solid #EEE;
  border-radius: 15px;
  background-color: #f9fafe;
  box-shadow: 0 0 1px 0 rgba(18, 32, 73, 0.08),
    0 8px 32px 0 rgba(55, 92, 192, 0.08);
  /* min-height: 480px !important; */
  min-height: 460px !important;
}

.blog-wraper {
  min-height: calc(100vh - 80px);
  padding-top: 40px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-size: auto;
}


/* ABOUT */

/* Custom CSS */
.about-header {
  background: linear-gradient(to right, #43cea2, #185a9d);
  color: white;
  padding: 80px 0;
  text-align: center;
}

.about-header h1 {
  font-size: 3rem;
  font-weight: bold;
}

.about-content {
  padding: 50px 0;
}

.about-text {
  font-size: 1.25rem;
  line-height: 1.8;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.team-section {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.team-member {
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
}

.team-member img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  max-width: 200px;
}

.team-member h3 {
  margin-top: 15px;
  font-size: 1.5rem;
}

.team-member:hover {
  transform: translateY(-10px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-header h1 {
      font-size: 2.5rem;
  }

  .about-text {
      font-size: 1.1rem;
  }
}

