---
layout: product
title: Categories
---


<div class="container">
    <div class="row">
        {% for product in site.products %}
        <!-- {% if product.category == page.category %} -->
        <div class="col-md-4">
            <div class="card">
                <img src="{{ product.image }}" alt="{{ product.title }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <a href="{{ product.url }}" class="btn btn-primary">View Product</a>
                </div>
            </div>
        </div>
        <!-- {% endif %} -->
        {% endfor %}
    </div>
</div>

<div class="filters">
    <h3>Filter by Category</h3>
    <ul>
        {% assign categories = site.products | map: "category" | uniq %}
        {% for category in categories %}
        <li><a href="/categories/{{ category | downcase }}">{{ category }}</a></li>
        {% endfor %}
    </ul>

    <!-- <h3>Filter by Tags</h3>
    <ul>
        {% assign tags = site.products | map: "tags" | flatten | uniq %}
        {% for tag in tags %}
        <li><a href="/tags/{{ tag | downcase }}">{{ tag }}</a></li>
        {% endfor %}
    </ul> -->
</div>

<!-- Blog Section -->
<section id="products" class="py-5">
    <div class="container">
        <div class="row mt-5 ">
        {% assign products = site.products %}
        {% for product in products %}
         {% if product.category == 'ashwagandha' %}
            <div class="col-sm-3">
                <a href="{{ site.baseurl }}{{ product.url }}">
                <div class="blog-post">
                    <img src="{{ product.image }}" alt="{{ product.title }}"/>
                    <div class="content">
                        <h5 class="mt-2">{{ product.title }}</h5>
                        <p>{{ product.description}}</p>
                        <a href="{{ product.buy_now_link}}" target="_blank" class="btn btn-warning">Buy Now</a>
                        &nbsp;&nbsp;<a href="{{ site.baseurl }}{{ product.url }}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
                </a>
            </div>
        {% endif %}

        {% endfor %}
        </div>
    </div>
</section>
