---
layout: page
title: Holistic Wellness Blog
description: Discover AyushMonk’s range of holistic wellness products including Ayurvedic herbal teas, essential oils, yoga accessories, detox supplements, organic skincare, and mindfulness journals. Enhance your well-being with our carefully curated essentials for a balanced lifestyle.
canonical_url: "https://ayushmonk.com/blog"
image: /images/holistic-wellness-products.jpeg
---


    <style>
        .consultant-card img {
            max-width: 100%;
            border-radius: 8px;
        }
        .appointment-btn {
            margin-top: 10px;
        }
        .book-appointment-modal .modal-body {
            padding: 20px;
        }
    </style>


<!-- Hero Section -->
<section class="hero-section-page text-center">
  <div class="container">
    <h1 class="mb-4">Holistic Health Consultants</h1>
      <p>Explore our Holistic Health Consultants.</p>
      {% include search.html %}
  </div>
</section>


    <!-- Main Consultant Listing Section -->
    <div class="container mt-5">
        
        <div class="row">
            {% for event in site.events %}
            <div class="col-md-3 mb-4">
                <div class="card consultant-card h-100">
                    <img src="{{ consultant.image }}" alt="{{ consultant.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.name }}</h5>
                        <p class="card-text">{{ event.date }} years of experience</p>
                        <p class="card-text">{{ event.contact_details }}</p>
                        <a href="{{ event.website}}" target="_blank" class="btn btn-warning">Visit Website</a>
                        &nbsp;&nbsp;<a href="{{ site.baseurl }}{{ consultant.url }}">Read More</a>
                      
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
