<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}/images/favicon/android-chrome-192x192.png">
<link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicon/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">