 <!-- Footer -->
 <footer class="footer text-center">
  <div class="container">
      <p>&copy; 2024 AyushMonk. All Rights Reserved.</p>
      <ul class="list-inline">
          <li class="list-inline-item"><a href="#" class="text-white">Privacy Policy</a></li>
          <li class="list-inline-item"><a href="#" class="text-white">Terms of Service</a></li>
          <li class="list-inline-item"><a href="#" class="text-white">Contact Us</a></li>
      </ul>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>