<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href=""product-card p-3 shadow-sm">
            <a href="https://www.amazon.in/?tag=ayushmonk-21" target="_blank"><img src="/images/amazon/amzon-offiers-max-you-limit.jpg" class="d-block w-100" alt="amzon-offiers-max-you-limit">
      </div>
      <div class="carousel-item">
        <a href="https://www.amazon.in/?tag=ayushmonk-21" target="_blank"><img src="/images/amazon/amazon-offers-sbicard-10.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <a href="https://www.amazon.in/?tag=ayushmonk-21">
            <img src="/images/amazon/amazon-offers-beauty.jpg" class="d-block w-100" alt="amazon-offers-beauty">
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://www.amazon.in/?tag=ayushmonk-21">
        <img src="/images/amazon/amazon-offers-sbicard.jpg" class="d-block w-100" alt="amazon-offers-sbicard-10">
        </a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
 
 <!-- Footer -->
 <footer class="footer text-center">
  <div class="container">
      <p>&copy; 2024 AyushMonk. All Rights Reserved.</p>
      <ul class="list-inline">
          <li class="list-inline-item"><a href="#" class="text-white">Privacy Policy</a></li>
          <li class="list-inline-item"><a href="#" class="text-white">Terms of Service</a></li>
          <li class="list-inline-item"><a href="#" class="text-white">Contact Us</a></li>
      </ul>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>



<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NZE0CLLZ6J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NZE0CLLZ6J');
</script>